.inputs {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto;
}


.input {
  padding: 4px;
  font-size: 10px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.addButton {
  padding: 4px 8px;
  font-size: 10px;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background: repeating-linear-gradient(
    to right,
    #f00,
    #ff0,
    #0f0,
    #0ff,
    #00f,
    #f0f,
    #f00
  ) 0% center / 200% auto;
  animation: buttonBackground .5s infinite linear;
  display: grid;
  grid-auto-flow: column;
  gap: 4px;
  place-items: center;
}


@keyframes buttonBackground {
  from {
    background-position: 0%;
  }
  to {
    background-position: 200%;
  }
}

.errorMessage {
  color: red
}
