.emptyMessage {
  text-align: center;
  color: #999;
}


.todo {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  grid-template-columns: auto 1fr auto;
}

.todo + .todo {
  border-top: 1px solid #ddd;
}

.deleteButton {
  color: red;
}

.deleteButton:hover {
  opacity: 0.5;
}

